*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#4f5dca;
  padding:20px;
}

.resume{
  max-width:1100px;
  margin:auto;
  display:grid;
  grid-template-columns:320px 1fr;
  background:#fff;
  box-shadow:0 0 20px rgba(0,0,0,0.15);
}

/* LEFT SECTION */

.left{
  background:#0b2c5d;
  color:white;
  padding:30px;
}

.profile{
  text-align:center;
  margin-bottom:35px;
}

.profile img{
  width:150px;
  height:150px;
  border-radius:50%;
  border:5px solid white;
  object-fit:cover;
}

.profile h1{
  margin-top:15px;
  font-size:28px;
}

.profile p{
  margin-top:8px;
  font-size:17px;
  color:#dcdcdc;
}

.left-section{
  margin-bottom:30px;
}

.left-section h2{
  margin-bottom:15px;
  border-bottom:2px solid white;
  padding-bottom:8px;
}

.left-section p,
.left-section li{
  margin-bottom:10px;
  line-height:1.6;
}

.left-section ul{
  padding-left:20px;
}

/* RIGHT SECTION */

.right{
  padding:40px;
}

.section{
  margin-bottom:35px;
}

.section h2{
  color:#0b2c5d;
  margin-bottom:15px;
  border-bottom:3px solid #0b2c5d;
  padding-bottom:8px;
}

.section p,
.section li{
  line-height:1.8;
  color:#333;
}

.section ul{
  padding-left:20px;
}

.item{
  margin-bottom:20px;
}

.item h3{
  color:#0b2c5d;
  margin-bottom:5px;
}

.item span{
  color:gray;
  font-size:14px;
}

/* RESPONSIVE */

@media(max-width:900px){

  .resume{
    grid-template-columns:1fr;
  }

  .left{
    text-align:center;
  }

}